<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">
      <a class="text-white" [routerLink]="['/']" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">SR PWC</a>
    </h5>
    <p>
      <a class="text-white" [routerLink]="['/iniciar-sesion']" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">Iniciar Sesión</a>
    </p>
    <p>
      <a class="text-white" [routerLink]="['/cerrar-sesion']" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">Cerrar Sesión</a>
    </p>
    <p>
      <a class="text-white" [routerLink]="['/reportes', 'escolares']" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">Reportes Escolares</a>
    </p>
    <p>
      <a class="text-white" [routerLink]="['/reportes', 'financieros']" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">Reportes Financieros</a>
    </p>
    <p>
      <a class="text-white" [routerLink]="['/reportes', 'serviciosocial']" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">Reportes SS</a>
    </p>
    <p>
      <a class="text-white" [routerLink]="['/inserts']" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">Inserts Informatica</a>
    </p>
  </div>
</div>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- CONTENIDO -->
<router-outlet></router-outlet>
